/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 */

.logIn {
  padding: 7px 22px !important;
}
.signUp {
  padding: 7px 20px !important;
}
.navbar {
  height: 5rem;
}
.nav-item {
  padding-right: 36px;
}
.imageWidth {
  height: 300px;
  object-fit: contain;
}
.right-items .image-wrapper .cartsize[data-v-02906ae3] {
  position: absolute;
  top: -5px;
  right: -5px;
  border-radius: 50%;
}
.cartsize {
  background: #ed3c3b !important;
  color: #fff;
  padding: 2px 7px;
  border-radius: 40px;
  border: 0 solid #fff;
  position: absolute;
  right: 36px;
  top: 9px;
  font-weight: 700;
  cursor: pointer;
}
.cart-img[data-v-02906ae3] {
  width: 30px;
}
.right-items img {
  margin: 2px 5px;
}
.right-items .image-wrapper[data-v-02906ae3] {
  display: inline-block;
  position: relative;
}
.card{
  box-shadow: 0 2px 5px rgb(3 3 3 / 30%);
  padding: 20px;
}
.navItems{
  display:inline-block!important;
}
