/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 */

.logIn {
  padding: 7px 22px !important;
}
.signUp {
  padding: 7px 20px !important;
}
.navbar {
  height: 5rem;
}
.nav-item {
  padding-right: 36px;
}
.imageWidth {
  height: 300px;
  object-fit: contain;
}
.right-items .image-wrapper .cartsize[data-v-02906ae3] {
  position: absolute;
  top: -5px;
  right: -5px;
  border-radius: 50%;
}
.cartsize {
  background: #ed3c3b !important;
  color: #fff;
  padding: 2px 7px;
  border-radius: 40px;
  border: 0 solid #fff;
  position: absolute;
  right: 36px;
  top: 9px;
  font-weight: 700;
  cursor: pointer;
}
.cart-img[data-v-02906ae3] {
  width: 30px;
}
.right-items img {
  margin: 2px 5px;
}
.right-items .image-wrapper[data-v-02906ae3] {
  display: inline-block;
  position: relative;
}
.card{
  box-shadow: 0 2px 5px rgb(3 3 3 / 30%);
  padding: 20px;
}
.navItems{
  display:inline-block!important;
}
.favoriteIcons{
  font-size: 24px;
}


body {
  background: #eee
}

.card {
  border-radius: 12px
}

.card1 {
  background:black;
  margin-top: 20px
}

.first {
  background-image: url("https://www.bhojangriha.com/images/banners/bhojan-griha-kathmandu-building.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
  max-width: 100%;
  display: block;
  height: auto
}

.linkedin {
  position: relative;
  left: 25px;
  top: 20px;
  font-size: 19px
}

.in {
  border-width: 10px;
  color: #fff;
  background: black;
  font-weight: bold
}

.second {
  background: #fff;
  border-radius: 12px
}

.welcome {
  margin-top: 130px;
  font-size: 23px;
  font-weight:700
}

.form-group {
  padding-top: 8px;
  font-size: 12px
}

.form-control {
  background: #E3F2FD;
  margin-top: 10px;
  font-size: 9px;
  font-weight: bold;
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  caret-color: red;
}

.form-control:focus {
  box-shadow: none
}

.forgot {
  padding-top: 7px;
  color: #42A5F5
}

.space {
  padding-top: 28px
}

.btn {
  border-radius: 0%;
  font-size: 11px;
  font-weight: bold;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px
}

.btn1 {
  background: #0277BD;
  padding-left: 46px;
  padding-right: 46px
}

.btn2 {
  background-color: #fff;
  color: #0277BD;
  margin-left: 10px
}

.under {
  font-size: 8px;
  color: #42A5F5;
  padding-top: 40px;
}

.lower {
  font-size: 8px;
  color: #42A5F5;
  position: relative;
  top: 90%
}

@media only screen and (max-width: 800px) {
  .linkedin {
      display: none
  }
}

.login .header{
  display: none!important;
}